.ServicesOne {
  gap: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .parent-1 {
    max-width: 50%;
    margin-inline: auto;
    text-align: center;

    p {
      color: var(--red-title);
      margin-bottom: 18px;
      font-size: 13px;
    }
    h2 {
      font-size: 36px;
      line-height: 52px;
    }
  }
  .parent-2 {
    display: flex;
    flex-direction: row;
    gap: 16px;

    .card {
      padding: 32px;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 350px;

      .cardTitle {
        font-size: 24px;
        font-weight: 400;
        color: var(--white);
        margin-bottom: 16px;
      }
      .cardDescription {
        &:where(p, span) {
          opacity: 0.65;
        }
        color: white;
        font-size: 17px;
        text-align: center;
        margin-bottom: 14px;
      }
      .cardImage {
        * {
          aspect-ratio: 1;
          width: 140px;
        }
      }
      .cardLink {
        display: block;
        margin-top: auto;
        color: var(--white);
      }
    }
  }

  @media (width < 768px) {
    .parent-1 {
      max-width: 85%;

      h2 {
        font-size: 20px;
        line-height: 150%;
      }
      p {
        margin-bottom: 12px;
      }
    }

    .parent-2 {
      .card {
        max-width: 100%;
      }
    }
  }

  &::before {
    content: "";
    display: block;
    background: url("/patternService.svg") no-repeat;
    background-size: contain;
    width: 170px;
    height: 80px;
    position: absolute;
    bottom: -10px;
    right: -15px;
    z-index: -1;
  }
}
