.section {
  display: flex;
  flex-direction: column;

  //   adding common styles to main children(sections)
  & > * {
    padding: 16px;
  }

  .aboutPart1 {
    display: flex;
    flex-direction: column;
    gap: 16px;

    h1 {
      font-size: 60px;
      color: #161c2d;
    }
    p {
      font-size: 19px;
      color: #161c2d;
    }
    button {
      color: #fff;
      font-size: 19px;
      padding: 12px 32px;
      width: fit-content;
    }
  }

  .aboutPart2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
