.statisOne {
  max-width: 1040px;
  margin-inline: auto;
  margin-top: 40px;

  .parent-1 {
    gap: 24px;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 12px;
      flex: 1;

      p {
        font-family: Gilroy;
        color: var(--text);
        font-weight: 700;
        font-size: 48px;
        text-align: center;
      }
      span {
        display: block;
        font-size: 19px;
        font-weight: 400;
        text-align: center;
      }
    }
  }

  @media (width < 824px) {
    display: none;
  }
}
