.itemContainer {
  gap: 8px;
  flex-wrap: nowrap;
  background-color: #f9f9f9;
  border-radius: 6px;
  margin-bottom: 8px;
  padding: 16px 8px;

  > div {
    display: flex;
    gap: 6px;
    align-items: center;
    flex-wrap: nowrap !important;
  }

  :where(p, span) {
    white-space: nowrap;
  }

  .imageHolder {
    img {
      width: 16px;
      aspect-ratio: 1;
      object-fit: contain;
      border-radius: 50%;
    }
  }

  .titleHolder {
    * {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 9ch;
    }
  }

  .bgColor {
    span {
      width: 16px;
      aspect-ratio: 1;
      border-radius: 3px;
    }
  }

  .rate {
    margin-left: 15px;
  }

  .editItem {
    * {
      cursor: pointer;
    }
  }
}
