button {
  cursor: pointer;
  outline: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

:where(h1, h2, h3, h4, h5, h6, p, span) {
  white-space: pre-line;
}
